 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 218px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  width: 897px;
  font-weight: 400;
  margin: 136px auto 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 142px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-size: 1.5rem;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: -300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin: 95px 22px 21px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 109px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin: 81px 0 6px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 116px;
  }

  .u-section-1 .u-text-1 {
    margin-bottom: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 112px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 72px;
    margin-bottom: 20px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 860px;
}

.u-section-2 .u-custom-html-1 {
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1067px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 832px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-bottom: 25px;
  }
}