.u-section-1 .u-sheet-1 {
  min-height: 819px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 99px 243px 0 0;
}

.u-section-1 .u-list-1 {
  width: 690px;
  margin: 84px auto 0 -23px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 8px) calc(33.3333% - 8px) calc(33.3333% - 8px);
  grid-gap: 12px 12px;
  min-height: 160px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-2 {
  font-family: "Didact Gothic";
  font-weight: 400;
  text-transform: uppercase;
  background-image: none;
  font-size: 1rem;
  margin: 5px 51px 0 57px;
}

.u-section-1 .u-icon-1 {
  width: 34px;
  height: 34px;
  margin: -36px auto 0 23px;
  padding: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-3 {
  font-family: "Didact Gothic";
  font-weight: 400;
  text-transform: uppercase;
  background-image: none;
  font-size: 1rem;
  margin: 5px 51px 0 57px;
}

.u-section-1 .u-icon-2 {
  width: 34px;
  height: 34px;
  margin: -36px auto 0 23px;
  padding: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-4 {
  font-family: "Didact Gothic";
  font-weight: 400;
  text-transform: uppercase;
  background-image: none;
  font-size: 1rem;
  margin: 5px 51px 0 57px;
}

.u-section-1 .u-icon-3 {
  width: 34px;
  height: 34px;
  margin: -36px auto 0 23px;
  padding: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-5 {
  font-family: "Didact Gothic";
  font-weight: 400;
  text-transform: uppercase;
  background-image: none;
  font-size: 1rem;
  margin: 5px 51px 0 57px;
}

.u-section-1 .u-icon-4 {
  width: 34px;
  height: 34px;
  margin: -36px auto 0 23px;
  padding: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-6 {
  font-family: "Didact Gothic";
  font-weight: 400;
  text-transform: uppercase;
  background-image: none;
  font-size: 1rem;
  margin: 5px 51px 0 57px;
}

.u-section-1 .u-icon-5 {
  width: 34px;
  height: 34px;
  margin: -36px auto 0 23px;
  padding: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 0 30px;
}

.u-section-1 .u-text-7 {
  font-family: "Didact Gothic";
  font-weight: 400;
  text-transform: uppercase;
  background-image: none;
  font-size: 1rem;
  margin: 5px 51px 0 57px;
}

.u-section-1 .u-icon-6 {
  width: 34px;
  height: 34px;
  margin: -36px auto 0 23px;
  padding: 0;
}

.u-section-1 .u-list-2 {
  width: 602px;
  margin: 84px auto 60px 7px;
}

.u-section-1 .u-repeater-2 {
  grid-template-columns: calc(33.3333% - 64.6667px) calc(33.3333% - 64.6667px) calc(33.3333% - 64.6667px);
  grid-gap: 97px 97px;
  min-height: 80px;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px 0;
}

.u-section-1 .u-btn-1 {
  font-size: 1rem;
  border-style: solid;
  text-transform: uppercase;
  font-family: "Didact Gothic";
  font-weight: normal;
  background-image: none;
  margin: 15px auto 0 -6px;
  padding: 4px 22px;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px 0;
}

.u-section-1 .u-btn-2 {
  font-size: 1rem;
  border-style: solid;
  text-transform: uppercase;
  font-family: "Didact Gothic";
  font-weight: normal;
  margin: 15px auto 0 -6px;
  padding: 4px 22px;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px 0;
}

.u-section-1 .u-btn-3 {
  font-size: 1rem;
  border-style: solid;
  text-transform: uppercase;
  font-family: "Didact Gothic";
  font-weight: normal;
  margin: 15px auto 0 -6px;
  padding: 4px 22px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 43px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 6px) calc(50% - 6px);
    min-height: 363px;
  }

  .u-section-1 .u-list-2 {
    margin-top: 51px;
    margin-bottom: 58px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: calc(33.3333% - 61.3333px) calc(33.3333% - 61.3333px) calc(33.3333% - 61.3333px);
    grid-gap: 92px 92px;
    min-height: 394px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 16px;
    margin-left: -13px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 16px;
    margin-left: -13px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 16px;
    margin-left: -13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1053px;
  }

  .u-section-1 .u-list-1 {
    width: 540px;
    margin-top: 122px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 8px) calc(33.3333% - 8px) calc(33.3333% - 8px);
    min-height: 253px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 18px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 18px;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 18px;
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 18px;
    margin-left: auto;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 18px;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 18px;
    margin-left: auto;
  }

  .u-section-1 .u-list-2 {
    width: 540px;
    margin-top: 172px;
    margin-bottom: 21px;
    margin-left: -23px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 926px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-top: 100px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 57px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 6px) calc(50% - 6px);
    min-height: 386px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 20px;
  }

  .u-section-1 .u-icon-5 {
    margin-top: 20px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 20px;
  }

  .u-section-1 .u-list-2 {
    width: 321px;
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 0;
  }

  .u-section-1 .u-repeater-2 {
    grid-gap: 100px 100px;
    grid-template-columns: calc(33.3333% - 66.6667px) calc(33.3333% - 66.6667px) calc(33.3333% - 66.6667px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 66px;
    margin-left: -42px;
    padding-right: 18px;
    padding-left: 16px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 66px;
    margin-left: -42px;
    padding-right: 18px;
    padding-left: 16px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 66px;
    margin-left: -42px;
    padding-right: 18px;
    padding-left: 16px;
  }
}

.u-block-9956-59:not([data-block-selected]):not([data-cell-selected]),
.u-block-9956-59:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-9956-59:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-9956-59:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-9956-59:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 298px;
}

.u-section-2 .u-custom-html-1 {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  height: auto;
  min-height: 600px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin: 30px 0 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  min-height: 298px;
  grid-gap: 30px 30px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-2 .u-icon-1 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
  padding: 25px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 19px 1px 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 29px;
}

.u-section-2 .u-icon-2 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
  padding: 25px;
}

.u-section-2 .u-text-3 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-2 .u-text-4 {
  font-style: italic;
  margin: 19px 1px 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 29px;
}

.u-section-2 .u-icon-3 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
  padding: 25px;
}

.u-section-2 .u-text-5 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-2 .u-text-6 {
  font-style: italic;
  margin: 19px 1px 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 29px;
}

.u-section-2 .u-icon-4 {
  height: 94px;
  width: 94px;
  background-image: none;
  margin: 0 auto;
  padding: 25px;
}

.u-section-2 .u-text-7 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 23px auto 0;
}

.u-section-2 .u-text-8 {
  font-style: italic;
  margin: 19px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-custom-html-1 {
    width: auto;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 22.5px));
    min-height: 246px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 659px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1349px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1860px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 220px;
}

.u-section-3 .u-list-1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 210px;
  grid-gap: 10px 10px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 15px 20px 16px;
}

.u-section-3 .u-icon-1 {
  width: 80px;
  height: 80px;
  margin: 1px auto 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 26px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 14px 0 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 15px 20px 16px;
}

.u-section-3 .u-icon-2 {
  width: 80px;
  height: 80px;
  margin: 1px auto 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 26px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 14px 0 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 15px 20px 16px;
}

.u-section-3 .u-icon-3 {
  width: 80px;
  height: 80px;
  margin: 1px auto 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 26px 0 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 14px 0 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 15px 20px 16px;
}

.u-section-3 .u-icon-4 {
  width: 80px;
  height: 80px;
  margin: 1px auto 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 26px 0 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 14px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 173px;
  }

  .u-section-3 .u-icon-1 {
    padding: 16px;
  }

  .u-section-3 .u-icon-2 {
    padding: 16px;
  }

  .u-section-3 .u-icon-3 {
    padding: 16px;
  }

  .u-section-3 .u-icon-4 {
    padding: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    min-height: 530px;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 824px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 553px;
    grid-template-columns: 100%;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-text-7 {
    font-size: 2.25rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 552px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 22px 0 0;
}

.u-section-4 .u-list-1 {
  margin-top: -9px;
  margin-bottom: 1px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 388px;
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 206px;
  margin-top: 20px;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-4 .u-text-3 {
  margin: 14px 0 0;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 14px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  height: 206px;
  margin-top: 20px;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-text-4 {
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-4 .u-text-5 {
  margin: 14px 0 0;
}

.u-section-4 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 14px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  height: 206px;
  margin-top: 20px;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-text-6 {
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-4 .u-text-7 {
  margin: 14px 0 0;
}

.u-section-4 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 14px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 320px;
  }

  .u-section-4 .u-image-1 {
    height: 163px;
  }

  .u-section-4 .u-image-2 {
    height: 163px;
  }

  .u-section-4 .u-btn-2 {
    padding: 2px 0;
  }

  .u-section-4 .u-image-3 {
    height: 163px;
  }

  .u-section-4 .u-btn-3 {
    padding: 2px 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 735px;
  }

  .u-section-4 .u-image-1 {
    height: 193px;
  }

  .u-section-4 .u-image-2 {
    height: 193px;
  }

  .u-section-4 .u-image-3 {
    height: 193px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 335px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    height: 335px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-3 {
    height: 335px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-image-1 {
    height: 206px;
  }

  .u-section-4 .u-image-2 {
    height: 206px;
  }

  .u-section-4 .u-image-3 {
    height: 206px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 578px;
}

.u-section-5 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 480px;
  grid-gap: 10px 10px;
}

.u-section-5 .u-container-layout-1 {
  padding: 19px 30px 30px;
}

.u-section-5 .u-image-1 {
  height: 206px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 14px 0 0;
}

.u-section-5 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 14px auto 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 19px 30px 30px;
}

.u-section-5 .u-image-2 {
  height: 206px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-5 .u-text-3 {
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-5 .u-text-4 {
  margin: 14px 0 0;
}

.u-section-5 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 14px auto 0;
}

.u-section-5 .u-container-layout-3 {
  padding: 19px 30px 30px;
}

.u-section-5 .u-image-3 {
  height: 206px;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-5 .u-text-5 {
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-5 .u-text-6 {
  margin: 14px 0 0;
}

.u-section-5 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 14px auto 0;
}

.u-section-5 .u-custom-html-1 {
  height: auto;
  min-height: 51px;
  width: 640px;
  margin: 27px auto 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 395px;
  }

  .u-section-5 .u-image-1 {
    height: 163px;
  }

  .u-section-5 .u-image-2 {
    height: 163px;
  }

  .u-section-5 .u-btn-2 {
    padding: 2px 0;
  }

  .u-section-5 .u-image-3 {
    height: 163px;
  }

  .u-section-5 .u-btn-3 {
    padding: 2px 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 908px;
  }

  .u-section-5 .u-image-1 {
    height: 193px;
  }

  .u-section-5 .u-image-2 {
    height: 193px;
  }

  .u-section-5 .u-image-3 {
    height: 193px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 335px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 335px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    height: 335px;
  }

  .u-section-5 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    height: 206px;
  }

  .u-section-5 .u-image-2 {
    height: 206px;
  }

  .u-section-5 .u-image-3 {
    height: 206px;
  }

  .u-section-5 .u-custom-html-1 {
    width: 340px;
  }
}.transparent_class{
filter:alpha(opacity=50);
-moz-opacity:0.5;
-khtml-opacity: 0.5;
opacity: 0.5;
}